@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {

    font-family: 'Noto Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Public Sans', sans-serif;
    font-family: 'Space Mono', monospace;
    transition: 0.9s;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Setup Colors  */
:root {
    /* Primary  colors */
    --strongeCyan: hsl(172, 67%, 45%);

    /* Neutral  colors */
    --darkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --GrayishCyan: hsl(184, 14%, 56%);
    --LightGrayishCyan: hsl(185, 41%, 84%);
    --VeryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}



.container {
    background-color: var(--LightGrayishCyan);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .logo {
    margin: 200px 0 50px 0;
}
.container .logo:hover{
    transform: scale(1.7);
}

@media (max-width : 600px) {
    .container .logo {
        margin: 100px 0 50px 0;
    }
}

.pay-box {
    max-width: 900px;
    min-height: 400px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 10px 15px 10px var(--GrayishCyan);
}
.pay-box:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px 10px var(--strongeCyan);
}

@media (max-width : 600px) {
    .pay-box {
        width: 100%;
        flex-direction: column;

    }
}
.show-tip {
    box-shadow: 5px 5px 10px 5px var(--GrayishCyan) ;

}
.show-tip:hover{
    box-shadow: 5px 5px 13px 7px rgb(33, 103, 115) ;
    transform: scale(1.05);
}

.calc-tip,
.show-tip {
    width: 45%;
    height: 100%;
    border-radius: 10px;
    
}

@media (max-width : 600px) {

    .calc-tip,
    .show-tip {
        width: 100%;
        margin-bottom: 50px;
    }
}

.show-tip {
    background-color: var(--darkCyan);
}

.calc-tip .bill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.calc-tip .bill {
    position: relative;
}

.calc-tip .bill img {
    position: absolute;
    width: 12px;
    bottom: 10px;
    left: 20px;

}

.calc-tip .bill label,
.calc-tip .select-tip h1 {
    font-weight: 600;
    color: var(--GrayishCyan);
    margin-bottom: 5px;
    font-size: 16px;
}

.calc-tip .bill input {

    width: 100%;
    height: 40px;
    font-size: x-large;
    background-color: var(--VeryLightGrayishCyan);
    outline: none;
    border: none;
    border-radius: 5px;
    direction: rtl;
    font-weight: 600;
    color: var(--darkCyan);
    padding: 0 15px;
}

.bill input:hover {
    border: 2px solid var(--strongeCyan)
}

.calc-tip .select-tip {
    width: 100%;
    padding: 0;
    margin: 40px 0;

}

.calc-tip .select-tip li {
    margin: 0;
    padding: 0;
}

.calc-tip .select-tip .tips {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

}

.calc-tip .select-tip .tips li {
    padding: 17px 5px;
    width: 90px;
    height: 5px;
    background-color: var(--darkCyan);
    margin: 5px 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

.calc-tip .select-tip .tips li:hover,
.selected-tip {
    background-color: var(--strongeCyan) !important;
    color: var(--darkCyan) !important;
}

.calc-tip .custom-tip {
    background-color: var(--LightGrayishCyan) !important;
    /* padding: 0 !important; */
}

.calc-tip .custom-tip input {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 16px;
    font-weight: 600;
    color: var(--darkCyan)
}

.calc-tip .number-people {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.calc-tip .number-people label {
    font-weight: 600;
    color: var(--GrayishCyan);
    margin-bottom: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.calc-tip .number-people img {
    position: absolute;
    width: 12px;
    bottom: 10px;
    left: 20px;
}

.calc-tip .number-people input {

    width: 100%;
    height: 40px;
    font-size: x-large;
    background-color: var(--VeryLightGrayishCyan);
    outline: none;
    border: none;
    border-radius: 5px;
    direction: rtl;
    font-weight: 600;
    color: var(--darkCyan);
    padding: 0 15px;
}


.number-people input:hover {
    border: 2px solid var(--strongeCyan)
}


/* Start Styling Show-tip */

.show-tip {
    padding: 30px;
    position: relative;
    min-height: 335px;

}

@media (max-width : 600px) {

    .show-tip {
        width: 100%;
        min-height: 250px;
    }
}

.show-tip .tip-amount,
.show-tip .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show-tip .tip-amount p,
.show-tip .total p {
    font-weight: 600;
    color: var(--white);
    font-size: 14px;
}

.show-tip .tip-amount p span,
.show-tip .total span {
    display: block;
    color: var(--GrayishCyan);
    font-size: 12px;
    margin-top: 3px;
}

.show-tip .tip-amount strong,
.show-tip .total strong {
    font-size: 40px;
    font-weight: 600;
    color: var(--strongeCyan)
}

.show-tip .tip-amount strong img,
.show-tip .total strong img {
    width: 19px;
}

.show-tip button {
    position: absolute;
    bottom: 30px;
    width: calc(100% - 60px);
    height: 40px;
    color: var(--darkCyan);
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.show-tip button:hover{
    background-color: var(--strongeCyan);
}


.active-reset-button {
    background-color: var(--strongeCyan) !important;
}


.error {
    color: rgba(223, 37, 37, 0.693);
    display: none;
    right: 0;
    position: absolute;
}

.error-border {
    border: 2px solid rgba(223, 37, 37, 0.693) !important;
}